h1{

text-align: center;
}

.createbucketbutton {
    background-color: rgb(76, 116, 175); /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 15px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    font-weight: bold;
    width: 50%;
  }

body {
  text-align: center;
}

img {
  max-width: 50%;
  padding-bottom: 20px;
  display: inline-block;
}

.form-style-2{
  display: inline-block;
}